.airQualityWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.svgIcon {
    padding-top: 50px;
    transform: scale(3.5);
}

.airQualityIndexMessage {
    padding-top: 200px;
}